$primary-color: white;
$secondary-color: black;

// breakpoints
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-pc: 992px;

$navbar-height: 58px;

// Colors
$red-gradient-1: rgb(190, 8, 84);
$red-gradient-1-shadow: rgba(190, 8, 84, 0.2);
$better-grey: #495057;

// Admin section
$side-nav-width: 200px;
$admin-pad: 0px;
