SetEnv env_db_name "hotel"
SetEnv env_user_name "root"
SetEnv env_password ""
SetEnv env_db_host "localhost"

# We have used infinityfree.net as our remote host to store ftp files. You may disable this feature by commenting the code
SetEnv env_ftp_server  ""
SetEnv env_ftp_user ""
SetEnv env_ftp_pass ""