* {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

body {
  background: whitesmoke;
}

#admin-main {
  margin-top: $navbar-height;
  margin-left: $side-nav-width;
  width: calc(100vw - #{$side-nav-width});
  padding: $admin-pad;
  // border: 5px solid red;

  @media screen and (max-width: $breakpoint-tablet) {
    // border: 5px solid blue;
    margin-left: 0;
    width: 100vw;
  }
}

// $color: white;

// /* total width */
// body::-webkit-scrollbar {
//   background-color: $color;
//   width: 10px;
// }

// body::-webkit-scrollbar-track {
//   background-color: $color;
// }
// body::-webkit-scrollbar-track:hover {
//   background-color: $color;
// }

// /* scrollbar itself */
// body::-webkit-scrollbar-thumb {
//   background-color: #babac0;
//   border-radius: 16px;
//   border: 1px solid #fff;
// }
// body::-webkit-scrollbar-thumb:hover {
//   background-color: #a0a0a5;
//   border: 1px solid #f4f4f4;
// }

// /* set button(top and bottom of the scrollbar) */
// body::-webkit-scrollbar-button {
//   display: none;
// }

// body::-webkit-scrollbar-track-piece {
//   background-color: $color;
// }
